#selected-instrument-text {
  position: absolute;
  top: 37%;
  left: 5%;
  border-radius: 50px;
  font-size: xx-large;
  background: linear-gradient(45deg, #c6c6c6, #ebebeb);
  box-shadow: 20px -20px 60px #bbbbbb, -20px 20px 60px #fdfdfd;
  padding: 1.5%;
}

#selected-instrument-title {
  color: #ff4f00;
}

#play-button-stopped {
  position: absolute;
  border-radius: 200px;
  width: 17%;
  padding: 1%;
  margin: 5% 0% 0% 40%;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  box-shadow: 20px -20px 60px #d9d9d9, -20px 20px 60px #ffffff;
  transition: 0.5s;
}

#play-button-stopped:hover {
  padding: 2%;
  background: none;
  background: linear-gradient(45deg, #ffffff, #e6e6e6);
  box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;

}

#play-button-playing {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  width: 17%;
  padding: 1%;
  margin: 5% 0% 0% 40%;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  box-shadow: 0px 0px 60px #d9d9d9, 0px 0px 60px #ffffff;
  animation: rotate 2s linear infinite;
  transition: 0.5s;
}

#stop-button {
  position: absolute;
  border-radius: 200px;
  width: 6%;
  padding: 1%;
  margin: 2% 0% 0% 55%;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  box-shadow: 20px -20px 60px #d9d9d9, -20px 20px 60px #ffffff;
  transition: 0.5s;
}

#stop-button:hover {
  padding: 1.5%;
}

#stop-button:active {
  background: linear-gradient(45deg, #ffffff, #e6e6e6);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
