.recording-container > .audio-item > audio {
  width: 100%;
  border-width: 2px;
  border-color: gainsboro;
  border-radius: 50px;
}

.recording-container::-webkit-scrollbar {
  display: none;
}

audio::-webkit-media-controls-enclosure {
  width: 100%;
  padding: 10%;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50px;
  border-width: 2px;
  border-color: black;
}

.audio-item {
  transition: transform 0.1s linear;
  display: block;
  width: 75%;
  height: 50%;
  scroll-snap-align: center;
  margin: auto;
  margin-bottom: 5%;
}

#wheel-bottom-shadow-box {
  position: absolute;
  width: 49%;
  margin-left: 25%;
  bottom: -5%;
  background-color: #ff4f00;
  height: 10%;
  box-shadow: 0px -33px 20px #ff4f00;
  z-index: 1;
}

#audio-selection-outline {
  position: absolute;
  z-index: 0;
  border-style: solid;
  border-width: 5px;
  border-color: gainsboro;
  border-radius: 50px;
  width: 48.3%;
  margin-left: 25.35%;
  margin-top: 11.4%;
  height: 16.1%;
}

#recordings-label {
  position: relative;
  left: 37.5%;
  top: -15%;
  color: black;
  font-size: xx-large;
}
