.main {
  width: 100%;
  height: 55rem;
  border-style: dashed;
  border-width: 3px;
}

.user-info {
  width: 15%;
  position: relative;
  border-style: dashed;
  border-width: 2px;
  font-size: xx-large;
  margin-left: 4%;
}

#microphone-container {
  width: 20%;
  height: 40%;
  position: absolute;
  display: inline-block;
  border-style: dashed;
  border-width: 2px;
  margin: 1% 2% 2% 4%;
}

.similar-sounds-container {
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 90%;
  border-style: dashed;
  border-width: 2px;
  margin: 1% 2% 2% 75%;
}
.recording-container {
  position: absolute;
  border-style: dashed;
  border-width: 2px;
  width: 49%;
  height: 30rem;
  margin: -3% 2% 2% 25%;
  padding: 5% 0% 5% 0%;

  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.instruments-container {
  width: 20%;
  height: 40%;
  position: absolute;
  display: inline-block;
  border-style: dashed;
  border-width: 2px;
  margin: 1% 4% 2% 75%;
  overflow: hidden;
  overflow-y: scroll;
}

.playback-container {
  width: 91%;
  height: 40%;
  position: relative;
  display: block;
  border-style: dashed;
  border-width: 2px;
  margin: 28% 2% 2% 4%;
}

#instrument-sound-container {
  position: absolute;
  display: inline-block;
}
.audio-item {
  border-style: dashed;
  display: block;
  height: 110%;
  border-width: 2px;
  scroll-snap-align: center;
  margin-bottom: 20%;
}

footer {
  width: 100%;
  height: min-content;
}
