#microphone-container {
  z-index: 2;
  width: 20%;
  height: 75%;
  position: absolute;
  display: inline-block;
  margin: 5% 2% 2% 4%;
  padding: 1% 0% 0% 1%;
  transition: 1s;
  background-color:transparent;
}

#microphone-container .audio-recorder {
  width: 88%;
  height: 75%;
  border-radius: 300px;
  margin: inherit;
  box-shadow: 18px 18px 0px -10px gainsboro, 28px 28px 1px -15px #beb3ae,
    38px 38px 2px -20px #9e908a, 45px 45px 5px -22px #a17e6d;
  transition: 1s;
}

#microphone-container .audio-recorder:hover {
  width: 300%;
  box-shadow: -0px -0px 10px 5px gainsboro, -0px -0px 10px 15px #beb3ae,
    0px -0px 10px 25px #9e908a, 0px -0px 10px 30px #a17e6d;
}

#microphone-container .audio-recorder:hover {
  margin: inherit;
}
#microphone-container .audio-recorder-timer {
  font-size: 400%;
}

#microphone-container .audio-recorder-visualizer {
  width: 100%;
  height: 50%;
  align-items: center;
  text-align: center;
}

#microphone-container .audio-recorder-options {
  width: 100%;
  height: 50%;
}

#microphone-container .audio-recorder-mic {
  width: min-content;
  height: 50%;
  margin-left: 60px;
}
